@font-face {
    font-family: 'Inter';
    src: url('fonts/EntezareZohoor2.eot'), url('fonts/EntezareZohoor2.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
.page{
   max-width: 1280px;
   min-width: 320px;
   background-color:#2A2C2F;
   box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Inter',Arial,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%; 
  text-rendering:optimizeLegibility;
}

.header{
    display: flex;
    max-width: 1184px;
    padding: 28px 0 56px 0;
    align-items: center;
    margin: 0 48px;
    justify-content: space-between;   
}

@media screen and (max-width: 1024px){
    .header{ 
        max-width: 928px;
        padding-bottom: 48px;
     }
}

@media screen and (max-width: 768px){
    .header{ 
       max-width: 720px;
        padding-bottom: 48px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 320px){
    .header{ 
       max-width: 288px;
        padding-bottom: 48px;
        margin-left: 16px;
        margin-right: 16px;
       align-content: center;
    }
}

.header__logo {
    background-image: url(./images/header-logo.svg);
    min-height: 52px;
    min-width: 176px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 320px){
    .header__logo{ 
       min-width: 142px;
       min-height: 42px;
      background-size: cover;
       
    }
}

.header__links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

     
.header__lang-link {
    color: #f2f2f2;
    font-style: normal;
    list-style-type: none;
    line-height:28px;
    font-size: 24px;
    font-weight: 400;  
    text-decoration: none;
}

@media screen and (max-width: 320px){
    .header__lang-link{ 
        line-height:20px;
        font-size: 18px;
    }
}


.header__lang-link_ru{
    color: #f2f2f2;
    font-size: 24px;
}

@media screen and (max-width: 320px){
    .header__lang-link_ru{ 
        line-height:20px;
        font-size: 18px;
    }
}

.header__list-item{
    padding: 0;
    margin-right: 18px;
}
.header__list-item:nth-child(2){
    margin-right: 0;
}

.lead {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
 }

 @media screen and (max-width: 1024px){
    .lead {
         width: calc(100% - 2*48px);
    }
   }

   @media screen and (max-width: 768px){
    .lead {
         width: 100%;
    }
   }
   @media screen and (max-width: 320px){
    .lead{ 
       max-width: 320px;
       
    }
}
    
.lead__title {
    line-height:100%;
    font-size: 96px;
    font-weight: 900;
    color: #f2f2f2;
    text-align: center;
    max-width: 720px;
    margin: 0;
}

@media screen and (max-width: 320px){
    .lead__title { 
        max-width: 288px;
        line-height: 44px;
        font-size: 40px;
    }
}
    
.lead__subtitle {
   max-width: 640px;
   padding-top: 30px;
   padding-bottom: 60px;
   margin: 0;
   color: #f2f2f2;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   text-align: center;
}

@media screen and (max-width: 1024px){
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 320px){
    .lead__subtitle { 
        max-width: 288px;
        line-height: 20px;
        font-size: 16px;
        padding-top: 16px;
        padding-bottom: 40px;
    }
}
.lead__image{
    max-width: 984px;
}

@media screen and (max-width: 1024px){
    .lead__image {
        max-width:928px;
    }
}

@media screen and (max-width: 768px){
    .lead__image {
        max-width: 768px;
        margin: 0;
    }
}

@media screen and (max-width: 320px){
    .lead__image{ 
       max-width: 320px;
       margin: 0;
       
    }
}
.lead__caption{
    color: #f2f2f2;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    align-self: start;
    margin: 0;
    padding-top: 8px;
 }
 @media screen and (max-width: 1024px){
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px){
    .lead__caption{ 
       margin-left: 16px;
       
    }
}

 .lead__team{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
 }

.intro {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 690px;
    min-height: 429px;
   color: #f2f2f2;
   margin: 0 0 0 148px;
   padding-top: 92px;
}
@media screen and (max-width: 1024px){
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px){
    .intro {
      max-width: 720px;
      margin-left: 24px;
      padding-top: 88px;
    }
}

@media screen and (max-width: 320px){
    .intro { 
       max-width: 288px;
       padding-top: 64px;
       margin-left: 16px;
    }
}
    
.intro__title{
    font-size: 54px;
    font-weight: 900;
    color: #f2f2f2;
    text-align: start;
    width: 690px;
    margin: 0;
}

@media screen and (max-width: 320px){
    .intro__title{ 
       max-width: 250px;
       font-size: 32px;
       line-height: 35px;
       margin-right: 38px;
    }
}

.intro__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    color: #f2f2f2;
    text-align: start;
    max-width: 690px;
    margin: 0;
    padding-top: 40px;  
}

@media screen and (max-width: 768px){
    .intro__text {
        width: 100%;
    }
 }

.intro__list{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #f2f2f2;
    text-align: start;
    width: 690px;
    margin: 0;
    padding: 33px 0 0 0; 
    list-style-type: none;
}

@media screen and (max-width: 768px){
    .intro__list {
        width: 100%;
    }
 }


.intro__number{
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #f2f2f2;
    text-align: start;
}

.photo-grid__list{
   padding: 92px 0;
   margin: 0 auto; 
   list-style-type: none;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 16px;
   row-gap: 16px;
}

@media screen and (max-width: 1024px){
    .photo-grid__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
        width: calc(100% - 2*48px);
    }
 }

 @media screen and (max-width: 768px){
    .photo-grid__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        width: calc(100% - 2*24px);
        padding-top: 88px;
        padding-bottom: 88px;
    }
 }

 @media screen and (max-width: 320px){
    .photo-grid__list{ 
        padding-top: 64px;
        padding-bottom: 64px;
        grid-template-columns: 1fr;
        gap: 12px;
        width: calc(100% - 2*16px);
    }
}

 
.photo-grid__item{
    width: 100%;
    height: 100%;
}

.places{
    margin: 0 auto;
    max-width: 984px;
 }

 @media screen and (max-width: 1024px){
    .places {
         width: calc(100% - 2*48px)
    }
}

@media screen and (max-width: 768px){
    .places {
         width: calc(100% - 2*24px)
    }
}

@media screen and (max-width: 320px){
    .places{ 
        width: 100%;
    }
}

.place{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
}


.place__item{
 display: grid;
 grid-template-columns: 460px 1fr;
 grid-template-rows: repeat(2, min-content);
 gap: 48px 40px;
 margin: 0;
 margin-bottom: 80px;
}

@media screen and (max-width: 1024px){
    .place__item{
        grid-template-columns: 440px 1fr;
        grid-template-rows: repeat(2, min-content);
        gap: 48px 32px;
}
}

@media screen and (max-width: 768px){
    .place__item{
        grid-template-columns: 340px 1fr;
        grid-template-rows: repeat(2, min-content);
        gap: 48px 28px;
        margin-bottom: 72px;
}
}

@media screen and (max-width: 320px){
    .place__item{ 
        grid-template-columns: 320px;
        gap: 32px 50px;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
    }
}

.place__title{
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    color: #f2f2f2;
    margin: 0;
}

@media screen and (max-width: 768px){
    .place__title{
        font-size: 42px;
        line-height: 46px; 
        max-width: 330px;
     }
}

@media screen and (max-width: 320px){
    .place__title{ 
       max-width: 288px;
       font-size: 32px;
        line-height: 35px;
        padding-right: 16px;  
        padding-left: 16px;
    }
}

.place__image{
 min-width: 460px;
 width: 40%;
}

@media screen and (max-width: 1024px){
    .place__image{
         min-width: 440px;
    }
}

@media screen and (max-width: 768px){
    .place__image{
         min-width: 340px;
    }
}

@media screen and (max-width: 320px){
    .place__image{ 
       min-width: 320px;
    }
}


.place__website{
    max-width: 456px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: end;   
}

@media screen and (max-width: 320px){
    .place__website{ 
        padding-right: 16px;  
        padding-left: 16px;
        max-width: 288px;
    }
}

.place__website__url-heading{
    font-size: 12px;
    font-weight: 400;
    font-style:  normal;
    line-height: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #AAAAAA;
}


.place__website__link{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-style:  normal;
    color: #FFFFFF;
    padding-top: 12px;   
}
.place__website__link:hover{
    opacity: 0.8;
}

.place__paragraph{
    margin: 0;
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
    font-style:  normal;
    color: #FFFFFF; 
    }

    @media screen and (max-width: 768px){
        .place__paragraph{
            font-size: 16px;
        }
    }

    @media screen and (max-width: 320px){
        .place__paragraph{ 
           padding-right: 16px;  
           padding-left: 16px;
           max-width: 288px;
        }
    }
    

.cover{
  max-width: 1184px;
  min-height: 740px;
  margin:0 auto;
  padding-top: 12px;
}

@media screen and (max-width: 1024px){
    .cover {
         max-width: 1024px;
         min-height: 640px;
         margin: 0;
    }
}

@media screen and (max-width: 768px){
    .cover {
         max-width: 768px;
         min-height: 480px;
         margin: 0;
         padding-top: 10px;
    }
}

@media screen and (max-width: 320px){
    .cover {
         max-width: 320px;
         min-height: 200px;
         margin: 0;
    }
}

.cover__title{
    max-width: 560px;
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    font-style:  normal;
    color: #FFFFFF; 
    margin: 0 auto; 
    padding-bottom: 32px;
    z-index: 1;
}

@media screen and (max-width: 320px){
    .cover__title {
         max-width: 238px;
         line-height: 35px;
         font-size: 32px;
         padding-bottom: 16px;
         padding-top: 33px;
    }
}


.cover__subtitle{
    line-height: 22px;
    font-size: 18px;
    font-weight: normal;
    max-width: 360px;
    text-align: center;
    font-style:  normal;
    color: #FFFFFF; 
    margin: 0 auto;
    z-index: 1;
}

@media screen and (max-width: 320px){
    .cover__subtitle {
         max-width: 288px;
         text-align: center;
         line-height: 16px;
         font-size: 14px;
         padding-bottom: 33px;
    }
}

 .cover__background {
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    min-width: 1184px;
    min-height: 740px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

@media screen and (max-width: 1024px){
    .cover__background{
        min-width: 1024px;
        min-height: 640px;
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    .cover__background{
        min-width: 768px;
        min-height: 480px;
        margin: 0;
    }
}

@media screen and (max-width: 320px){
    .cover__background {
         min-width: 320px;
         min-height: 200px;
         margin: 0;
     }
}

 .cover__background::before {
    content: '';
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   }

.cover__background:hover::before {
     opacity: 0.8;

   }

 .footer{
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px){
    .footer{
        max-width: 1024px;
      
    }
}
@media screen and (max-width: 768px){
    .footer{
        max-width: 768px;
        padding-top: 88px;
      
    }
}

@media screen and (max-width: 320px){
    .footer {
         max-width: 320px;
         flex-direction: column;
         padding-top: 64px;
         height: 100%;
    }
}

.footer__list-item{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    .footer__list-item{
        margin-left: 48px;
      
    }
}

@media screen and (max-width: 768px){
    .footer__list-item{
        margin-left: 24px;
      
    }
}

@media screen and (max-width: 320px){
    .footer__list-item {
         max-width: 186px;
         min-height: 250px;
         flex-direction: column;
         margin-right: 0;
         margin-left: 16px;
    }
}
.footer__link{
    line-height: 18px;
    font-size:16px;
    font-weight: 400;
    text-align: center;
    font-style:  normal;
    color: #FFFFFF; 
    text-decoration: none;
    margin-right: 18px;
}

@media screen and (max-width: 320px){
    .footer__link{
         padding-bottom: 32px;
         line-height: 24px;
         font-size: 24px;
         margin-right: 0;
    }
}
.footer__link:hover{
    opacity: 0.8;
}

.footer__copyright{
    margin: 0;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    font-style: normal;
    color: #FFFFFF; 
    
}

@media screen and (max-width: 1024px){
    .footer__copyright{
        margin-right: 48px;
      
    }
}

@media screen and (max-width: 768px){
    .footer__copyright{
        margin-right: 24px;
      
    }
}

@media screen and (max-width: 320px){
    .footer__copyright {
         max-width: 186px;
         line-height: 14px;
         font-size: 14px;
         margin-left: 16px;
         padding-top: 48px;
    }
}